
body {
    background: #eee;
}

body > .container {
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}



.black {
    background: #333;
    position: relative;
    z-depth: 10;
}

.light-grey-text {
    color: #ddd;
}

.grey-text {
    color: #888;
}

li {
    a {
        color: #9df;
    }
    a:hover {
        color: #cef;
    }
}
